
*.meta
*.png.meta

vocadict/Library/assetDatabase3

vocadict/Library/assetDatabase3

vocadict/Library/guidmapper

vocadict/Library/guidmapper

vocadict/Library/metadata/

vocadict/Temp/

vocadict/Library/AssetVersioning.db


